@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
   font-family: 'Roboto', sans-serif;
}

.tituloSeccion{color: #011c41; border-bottom: 1px solid #ef661d; font-family: 'Roboto', sans-serif !important;}

a, .btn-link {
    color: #011c41;
}
a, .btn-link:hover {
    color: #ef661d;
    text-decoration: none;
}
a, .btn-link:active {
       text-decoration: none;
}
.btn-
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.card-header{background-color: #e3e3e3;
border-top:1px solid #ccc;}

.page-item.active .page-link {
        background-color: #011c41;
    border-color: #011c41;
}
.page-link{color:#011c41;}
.btn-primary{ background-color: #ef661d; border:1px solid #ef661d; }
.btn-primary:hover{ background-color: #ce521b; border:1px solid #ef661d; }
.btn-primary:active{ background-color: #ce521b !important; border:1px solid #ef661d !important; }
.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(239, 102, 39, 0.5) !important;
}
.btn-warning{ background-color: #86a8db; border:1px solid #86a8db; color: #fff; }
.btn-warning:hover{ background-color: #a2bbe4; border:1px solid #a2bbe4; color: #fff; }
.btn-warning:active{ background-color: #a2bbe4 !important; border:1px solid #a2bbe4 !important; color: #fff; }
.btn-warning:focus, .btn-warning.focus {
    box-shadow: 0 0 0 0.2rem rgba(134, 168, 219, 0.5) !important;
}

.btn-danger{ background-color: #011c41; border:1px solid #011c41; color: #fff; }
.btn-danger:hover{ background-color: #0b2b51; border:1px solid #011c41; color: #fff; }
.btn-danger:active{ background-color: #0b2b51 !important; border:1px solid #011c41 !important; color: #fff; }
.btn-danger:focus, .btn-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(11, 43, 81, 0.5) !important;
}
#ley26904{ color: #ef661d; }

.container{ padding-left: 2rem !important;
        padding-right: 2rem !important;}



footer{background-color: #e3e3e3; color: #555;}

.panic-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    left: 30px;
    z-index: 999;
    background: #ee3637;
    border: 1px solid #c22222;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    overflow: hidden;
    animation: animate 1.9s linear infinite;
}

#noticias .card-text{ height: 70px !important; overflow: hidden}
#noticias h3{height: 70px; overflow: hidden;}
.card-header h2 .btn{text-align: left !important;}
app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 5.4rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #011c41;
        border-bottom: 0px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background: linear-gradient(180deg, #011c41 0%, #011c41 20%, #2c48a2 80%);
}

    .sidebar .top-row {
       /* background: linear-gradient(180deg, #062b4a 0%, #063a64 70%);*/
       background-color: #011c41;
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: #ef661d;
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: #ef661d75;
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

#carouselExampleIndicators  h5{ color:#ef661d !important; font-weight: bold; }
.navbar-brand img{height:4.5rem}
#alogo{width: 100%; }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    #alogo{width: auto !important; }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}
#inicio .content{padding-top: 0;}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
    #inicio  #contieneSlide {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
